/* FONTS  */




/* HEADER  */
.header, .main, .footer {
  width: 500px;
  margin: 2rem auto;
  text-align: center;
}

.header-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* MAIN SIGNUP  */

